.CreatureItem {
    display: grid;
    grid-template-rows: auto 160px auto auto auto;
    grid-template-columns: 180px;
    grid-gap: 10px;
    
    justify-items: center;

    background-color: whitesmoke;

    border-radius: 10%;
}

.CreatureItem h2 {
    margin-top: 0;
    margin-bottom: .25rem;
}

.CreatureItem img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.CreatureItem p {
    margin: 0;
    text-align: center;
}

